extends ../base
block content 
    div(class="watch__video-area" data-id=video._id)
        video(src="/" + video.videoUrl, class="watch__video")
        div.area__video-controller
            span#video__title=video.title
            div.video-controller
                div.controller-area
                    span#play.playPause
                        i(class="fa-solid fa-play")
                    div#time
                        span#currentTime 00:00
                        span /
                        span#totalTime 00:00
                input(type="range", min="0" step="0.1" value="0")#timeBar
                div#volume
                    span#mute
                        i(class="fa-solid fa-volume-high")
                    input(type="range", min="0", max="1", step="0.05")#volumeBar
                span#fullScreen
                    i(class="fa-solid fa-expand")
        div.area__video-click

    div(class="side-space")
        div(class="watch__info")
            h2(class="watch__title")=video.title
            div(class="watch__move")
                a(class="watch__uploader-anchor" href=`/user/${video.uploader._id}`)
                    img(src=video.uploader.avatarUrl class="watch__uploader-avatar")
                    div(class="watch__uploader-info")
                        p=video.uploader.nickname
                        small=video.uploader.email
                div(class="watch__move_control")
                    if String(loggedInUser._id) === String(video.uploader._id)
                        a(href=`${video._id}/edit`) 
                            i(class="fa-solid fa-pen-nib")  수정
                        a(href=`${video._id}/delete`) 
                            i(class="fa-solid fa-trash")  삭제
            div(class="watch__info_description")
                small(class="watch__views") 조회수 #{video.meta.views}회﹒
                small(class="watch__createdAt")   #{video.createdAt}
                small(class="watch__hashtags")   #{video.hashtags.join(" ")}
                p(class="watch__description")=video.description

block scripts 
    script(src="/static/js/videoPlayer.js") 